<div class="container">
	<div class="crad-box">
		<div class="card-container">
			<img class="card__img" src="img/cards/card-2.jpg" alt="#">
			<div class="card__description">
				<div class="card__description-meta">{ICON} <span>By Admin</span> {16} <span>Comments</span> {November 5, 2021
					Date}</div>
				<h3 class="card__description-title">Post Title Here</h3>
				<p class="card__description-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error voluptate
					earum
					vitae magni! Quos non ullam, consectetur adipisci, minus quis beatae excepturi placeat aut provident
					voluptate,
					dolores autem minima laudantium harum recusandae. Ex exercitationem consectetur dolores, eum nostrum tempora.
					Ipsum eaque laboriosam qui nesciunt voluptatibus hic ratione quos. Amet eius culpa, sapiente accusantium
					tenetur
					officiis consequuntur sit quam hic neque distinctio atque nobis, ullam maiores inventore explicabo nesciunt
					recusandae et aut. Totam obcaecati magnam doloremque, culpa repellendus id a blanditiis debitis? Reprehenderit
					adipisci ut quisquam dolorem, officiis, cum facere doloribus accusantium ex, assumenda numquam veniam fuga!
					Sit
					vero, tenetur ipsam praesentium neque eaque fuga odio eum harum rerum. Voluptatibus ab soluta repudiandae
					ipsa.
					Molestias animi maxime soluta placeat! Possimus tempora odio temporibus nemo amet perspiciatis illum molestiae
					aliquam obcaecati provident sapiente incidunt nobis voluptates, corporis placeat necessitatibus earum
					laboriosam
					in! Illum dolor saepe voluptas? Commodi soluta harum at fugiat optio porro, ipsam sunt, laudantium minima
					numquam nostrum consequatur accusantium dolorem accusamus possimus enim ad omnis ratione libero laborum fugit
					adipisci amet? Enim molestiae minima ullam tempore necessitatibus est eius fugit culpa error voluptatum
					maiores
					suscipit accusamus sequi ab labore dolor, molestias possimus dolorum consequatur temporibus odio provident
					aspernatur omnis officia. Temporibus corporis quas sapiente explicabo porro dicta nostrum? Cumque fuga iure
					porro natus alias, eius vitae ex fugit, vel dicta enim asperiores nulla quisquam omnis, sapiente et ducimus
					nobis iste exercitationem modi commodi ut. Quia consectetur asperiores accusamus saepe iusto fuga autem velit
					quam voluptatibus culpa cumque corporis sit, natus inventore nulla quis sunt necessitatibus aperiam earum!
					Illum
					sapiente a ea explicabo quos tempore nobis, deserunt beatae alias? Obcaecati consequatur veritatis nesciunt
					nostrum! Vero adipisci excepturi assumenda dicta amet expedita a. Quidem atque doloribus numquam, voluptatibus
					dignissimos sit neque ullam nulla animi natus asperiores maxime, laudantium error! Beatae dolores sequi quam
					rem
					deserunt animi quod eum, in sint ad nemo porro perspiciatis pariatur tempore minus reprehenderit harum aut
					eveniet ab iste, earum repellat corrupti obcaecati explicabo! Velit aut harum perspiciatis tempora veritatis
					dolore alias! Blanditiis hic eveniet, labore aperiam neque modi optio consequuntur tempore dolorem ipsa sequi
					impedit, assumenda iusto laboriosam. Quibusdam error velit expedita, incidunt minima ipsam numquam ab at hic
					et
					eius laborum magnam aperiam adipisci totam minus unde illo! Doloremque perferendis eos reprehenderit iure
					cumque
					asperiores molestiae quidem distinctio doloribus laboriosam voluptas nihil vel eligendi, necessitatibus magni
					perspiciatis tempora blanditiis, minima eaque recusandae maxime dignissimos. Facilis sed sit accusantium cum
					ratione eveniet veniam! Culpa explicabo obcaecati dicta nemo voluptatum in inventore libero ipsum nulla
					possimus. Rem, repellendus ducimus animi iste molestias natus assumenda tempore voluptas unde officiis optio
					inventore velit nemo quidem odio ipsa veniam quasi dolore esse, debitis amet laudantium error, adipisci
					consequuntur? Ipsum cumque doloremque enim tempora officia eos ducimus? Sit assumenda nemo error, repellat
					accusamus ducimus delectus! Quos minima, impedit magni optio quod perspiciatis delectus? Corrupti saepe
					incidunt
					enim delectus temporibus commodi quaerat id eius pariatur tenetur, mollitia in repudiandae, sit sapiente
					labore
					eligendi dolores unde quae optio consequuntur? Illum inventore qui tempore dolorem?</p>
			</div>
			<div class="card__footer"></div>
		</div>
		<aside>
			Тут тоже блок
		</aside>
	</div>
</div>