<div class="container">
	<section class="section__cards">
		<div class="section__title">Featured Products</div>
		<div class="crads">
			<div class="crad__item">
				<div class="card-header">
					<a href="card-page.html">
						<img class="card-img" src="img/cards/card-2.jpg" alt="#">
					</a>
				</div>
				<div class="card-body">
					<div class="product__info">
						<a href="#">
							<h6 class="product__info-title">Product Short Name</h6>
						</a>
						<div class="product__info-price"><span class="product__info-price-discount">$99.00</span>
							<span class="discount">$49.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="crad__item">
				<div class="card-header">
					<a href="card-page.html">
						<img class="card-img" src="img/cards/card-3.jpg" alt="#">
					</a>
				</div>
				<div class="card-body">
					<div class="product__info">
						<a href="#">
							<h6 class="product__info-title">Product Short Name</h6>
						</a>
						<div class="product__info-price"><span class="product__info-price-discount">$99.00</span>
							<span class="discount">$49.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="crad__item">
				<div class="card-header">
					<a href="card-page.html">
						<img class="card-img" src="img/cards/card-4.jpg" alt="#">
					</a>
				</div>
				<div class="card-body">
					<div class="product__info">
						<a href="#">
							<h6 class="product__info-title">Product Short Name</h6>
						</a>
						<div class="product__info-price"><span class="product__info-price-discount">$99.00</span>
							<span class="discount">$49.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="crad__item">
				<div class="card-header">
					<a href="card-page.html">
						<img class="card-img" src="img/cards/card-5.jpg" alt="#">
					</a>
				</div>
				<div class="card-body">
					<div class="product__info">
						<a href="#">
							<h6 class="product__info-title">Product Short Name</h6>
						</a>
						<div class="product__info-price"><span class="product__info-price-discount">$99.00</span>
							<span class="discount">$49.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="crad__item">
				<div class="card-header">
					<a href="card-page.html">
						<img class="card-img" src="img/cards/card-6.jpg" alt="#">
					</a>
				</div>
				<div class="card-body">
					<div class="product__info">
						<a href="#">
							<h6 class="product__info-title">Product Short Name</h6>
						</a>
						<div class="product__info-price"><span class="product__info-price-discount">$99.00</span>
							<span class="discount">$49.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="crad__item">
				<div class="card-header">
					<a href="card-pagcard-page.html.html">
						<img class="card-img" src="img/cards/card-7.jpg" alt="#">
					</a>
				</div>
				<div class="card-body">
					<div class="product__info">
						<a href="card-page.html">
							<h6 class="product__info-title">Product Short Name</h6>
						</a>
						<div class="product__info-price"><span class="product__info-price-discount">$99.00</span>
							<span class="discount">$49.00</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>