<div class="slider">
	<div class="slider__item">
		<img class="slider__img" src="img/slider/slider-img-1.jpg" alt="#">
		<p class="slider__text"><span>ALUMINUM CLUB</span>Experience Ray-Ban</p>
	</div>
	<div class="slider__item">
		<img class="slider__img" src="img/slider/slider-img-1.jpg" alt="#">
		<p class="slider__text"><span>ALUMINUM CLUB</span>Experience Ray-Ban</p>
	</div>
	<div class="slider__item">
		<img class="slider__img" src="img/slider/slider-img-1.jpg" alt="#">
		<p class="slider__text"><span>ALUMINUM CLUB</span>Experience Ray-Ban</p>
	</div>
</div>