.footer {
	margin-top: 25px;
	background-color: #4cb1ca;
	color: #8adcf0;
	height: 60px;
	padding: 20px 0;

	&__nav-list {
		display: flex;
		justify-content: space-between;
		width: 445px;
	}
}

.copyright p {
	float: left;
	margin: 0;
	padding: 0;
}
.footer__nav {
	float: right;
}
.footer__nav-list {
	width: 100%;
	display: inlaine-flex;
}
.footer__nav-item:not(:last-child) {
	margin-right: 25px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-color: rgb(191, 242, 255);
		width: 1px;
		height: 11px;
		top: 3px;
		right: -13px;
	}
}
